* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --blue: #1419e9;
  --pink: #ff33bb;
  --yellow: #f4df1e;
  --green: #7dd85b;
  --skin: #ff886c;
  --black: #171717;
  --white: #ffffff;
}

body {
  background-color: var(--white);
}

/* Estilo del header */
header {
  height: 7rem;
  width: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

header #HeaderLogo img {
  height: 4rem;
}

/* Estilo del Footer */
footer {
  background-color: var(--pink);
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer #Copyright {
  color: var(--white);
  font-size: 1rem;
  font-family: "TitlingGothic";
  font-weight: Normal;
  padding: 0 1rem;
}
footer #SocialNetwork .social {
  padding: 0 0.2rem;
  text-decoration: none;
}

/* Estilo para pantalals pequeñas y dispositivos moviles */

@media (max-width: 1024px) {
  footer #Copyright {
    font-size: 0.6rem;
    padding: 0 1rem;
  }
  footer #SocialNetwork .social img {
    width: 16px;
  }
}
